# Dependencies
node_modules/
dist/
dist-ssr/
*.local

# OS Files
.DS_Store
Thumbs.db

# Large Assets / Backups
*.zip
assets_temp/
*.mp3
nfs-u2-city-part-85mb-glb/

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
